*{
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
 
}

#welcome-message{
  color: #FFFFFF;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  text-shadow: 0 0 5px #000000;;
}
  

nav{
  height: 1.25rem;
  align-items: start;
  padding-bottom:1.5em;
  padding-top: 0.5em;
  padding-left: 0.438em;
  background:linear-gradient(#121212, #181818);
  border-bottom:solid 2px #5c6571;
  border-top:solid 5px #808d9e;
  border-left:solid 2px #808d9e;
  border-right:solid 2px #808d9e;

 
  
 
  
 
  
  
}






a{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: white;
  font-size: 1rem;
  margin-right: 0.625em;
  text-align: center;
 
  padding-left: 0.313em;
  

 
  
  
  
 


  
}

.O:hover{

  opacity: 0.5;
  border: 0.125rem solid  #BCCCDC;
  border-radius: 50%;
 
}


.L:hover{
  opacity: 0.5;
  border: 2px solid  #BCCCDC;
  border-radius: 50%;
  
}


.F:hover{
  opacity: 0.5;
  border: 2px solid  #BCCCDC;
  border-radius: 50%;


}



body {

  margin: 0;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.25rem;
  background-color: #121212;
}



.avatar {
  border: 0.625rem solid black;
  border-radius: 50%;
  background-image: url(Color\ Palette.png);
  background-size: 18.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Picture{
border-left: solid 2px #282828;
border-right:solid 2px #282828;
border-bottom:solid 3px #424242;
background-image: url('joey-kyber-Pihl8kTtX-s-unsplash.jpg');
background-size: cover;
height: 43.75em;
padding-top: 6.25em;

}

.card {
  width: 28.125em;
  padding-top: 0.625em;
  padding-bottom: 0.5em;
  padding-left: 0.313em;
  padding-right: 1.188em;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin:  0 auto;
  background-color: #181818;
  border: solid 2px #282828;
  
}

.info {

  margin: auto;
  padding: 20px;
  padding-right: 0.5em;
  color: #FFFFFF;
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
  
  
  
}

.Profile {
  width: 30em;
  height: 24em;
  background-color: #282828;

  
}



.Profile:hover {
  background-color: #282828;
  opacity: 0.5;
}


.name {
  font-weight:normal;
  font-size: 1.563rem;
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;

}

#src{


  display: flex;
  justify-content: center;
 margin: 0 auto;
  padding: 10px 10px;
  
}

#block {

  height: 17em;
  background-color: #181818;


  
}






#aboutMeSection{

  text-align: center;
  color: #FFFFFF;
  padding-left: 0.625em;
  padding-right: 0.625em;
  border: solid #FFFFFF 2px;
  margin-left: 0.625em;
  margin-right: 0.625em;
  font-size: 1.063rem;
}

#Quotes{



  background-color: green;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0 10px;
  color: #FFFFFF;
  font-size: 12px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  float: left;
  margin-top: 40em;
  margin-left: 12em;
 
 
  
  

}

h4{

  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}


h5, h6{
font-size: 20px;
}

h7{

  font-size: 25px;
 
}
 p{

   color: white;
   text-align: center;
 }


.animated-element {

  animation: moveRight 9s ease-in-out;
  animation-iteration-count: infinite;
  
 

}



@keyframes moveRight {

  from { transform: translateX(400%); } /* Starts offscreen to the left */

  to { transform: translateX(-400%); } /* Ends in its final position */

  
}


div.scroll-container {
  background-color: #121212;
  overflow: auto;
  white-space: nowrap;
  padding:0.2em;
}

div.scroll-container img {
  padding: 0.2em;
}


h10{

  color: white;
  text-align: center;
}

ul{
  color: white;
  text-align: left;
}

